@inherits LayoutComponentBase

<PageTitle>TangyWeb</PageTitle>

<!-- Основной лбъединяющий дизайнер страницы. Объединяем Меню слева, прописываем header и указываем мето шгде буджет отбражаться рендер страницы -->
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <!-- Кнопка в header-е -->
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
