<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TangyWeb_Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <!-- При нажатии на ссылку NavLink плашка меню останется на "нажатом состоянии, тем самым мы как бы запомним наш выбор"-->
            <!-- В отличии от ссылки "a", при нажатии на которую мы перейдем по ссылке, но выбор плашки визуально не сохраниться-->
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/bindProp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Bind Property  <!-- span - элемент, который используется для стилизации части текста, можно поменять цвет,
                                                                                        размер шрифта или начертание, добавить и убрать подчёркивание (в нашем случае - картинка)-->
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/learnBlazor/demoProduct">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Demo Product
            </NavLink>
        </div>
    </nav>
</div>

@code 
{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
