@page "/"

<PageTitle>Application Web-Server</PageTitle>  <!-- Имя Страницы -->

<h1>Hello, world!</h1>

Welcome to your new app.

<!--<SurveyPrompt Title="How is Blazor working for you?" />--> <!-- Плашка-опросник (зОчем?) -->
